.footer {
    width: 100%;
    background-color: #6f04a7;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.icons img {
    width: 6%;
}

.icons {
    list-style: none;
    color: white;
    margin-bottom: 20px;
}

.footer-list {
    width: 40%;
    margin: 0 auto;
    margin-left: 800px;
}